@namespace DnsmasqWebUI.Components.Dnsmasq.EffectiveConfig
@using DnsmasqWebUI.Models.Dnsmasq

<span class="ec-field-value-item" title="@(Source?.GetReadOnlyTooltip())">
    @Value
    @if (Source?.IsReadOnly == true)
    {
        <span class="badge bg-secondary ms-1">readonly</span>
    }
</span>

@code {
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public ConfigValueSource? Source { get; set; }
}
